@charset"UTF-8";
/*@font-face {
    font-family: "Calibri";
}*/

body {
    background: #000;
    font-family: "Calibri";
    color: #fff;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-weight: 100;
    margin-bottom: 60px;
}

a{
    color: red;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover{
    color: #FFD393;
}

ul#sprzet {
    position: absolute;
    width: 125px;
    visibility: hidden;
    margin-left: 302px;
    background-color: black;
    padding: 10px 10px 10px 10px;
    transition: all 0.5s;
}
ul li:hover #sprzet {
    visibility:visible;
}

ul#sprzet li{
    padding-right: 0px;
    display: block;
}

nav ul li ul li{
	border-right: none;
	margin-left: 0;
}

hgroup img{
	width: 300px;
}

hgroup {
    display: inline-block;
}

.facebook {
    width: 50px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.5s;
}

.facebook:hover {
    filter: brightness(150%);
}

nav {
    display: inline-block;
    width: 630px;
    vertical-align: 63px;
    border-bottom: 4px solid #FFF;
    margin-left: -5px;
    padding-bottom: 9px;
}

nav ul {
    margin-left: 30px;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    border-right: 2px white solid;
    padding-right: 10px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	transition: color 0.5s;
}

nav ul li a:hover {
    color: #da0000;
}

article header h1 {
    font-size: 30px;
    color: #da0000;
    margin-bottom: 20px;
    border-bottom: 4px white solid;
    width: 300px;
    padding-bottom: 5px;
    font-weight: 500;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-40{
    margin-top: 40px;
}

.gray{
    color: gray;
}

.container-left,
.container-right {
    /*float: left;*/
    
    width: 630px;
}

.container-left {
    float: right;
}

.container-right {
    float: left;
}

.container-right header {
    text-align: right;
    margin-left: 315px;
}

.container-right section {
    text-align: right;
    margin-right: -10px;
}

.thelast {
    background-color: "#fff";
    margin-bottom: 40px;
}

article img {
    width: 300px;
    /*float: right;*/
    
    border: 4px rgba(255, 255, 255, .2) solid;
}

article {
    margin-top: 50px;
}

article section {
    width: 615px;
}

footer {
    clear: both;
    position: fixed;
    z-index: 10;
    height: 2em;
    margin-top: -3em;
    border-top: 2px white solid;
    border-bottom: none;
    background-color: #000;
    bottom: 0;
    width: 950px;
}

#ideasfactory {
    left: 20px;
    top: 5px;
    position: relative;
    /*right: 2vh;*/
    /*bottom: 1.5vh;*/
    /*z-index: 2;*/
    /*font-family: "Gothic";*/
    /*padding-top: 5px;*/
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    /*text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 2px rgba(255, 255, 255, 1);*/
    
    color: #fff;
    z-index: 5;
    /*font-size: 14px;*/
    
    text-decoration: none;
}

#ideasfactory:after {
    content: "Fabryka stron internetowych ";
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /*text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 2px rgba(255, 255, 255, 1);*/
    
    opacity: 0;
    filter: alpha(opacity=0);
    top: -30px;
    left: 5px;
    transition: all 0.5s;
}

#ideasfactory:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0px;
}

#instrukcja {
    top: 5px;
    position: relative;
    width: 200px;
    float: right;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

#instrukcja:hover {
    color: #da0000;
}
/************************KONTAKT************************/

.contact-contain {
    margin: 0 auto;
    width: 90%;
}

.contact {
    float: left;
    width: 30%;
    min-height: 90px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.contact h1 {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #DA0000;
}

.contact h2 {
    font-size: 14pt;
}

#map {
    float: right;
    width: 65%;
    margin: 20px auto;
    margin-bottom: 60px;
}

iframe {
    width: 100%;
    height: 300px;
    frameborder: 0;
    border: 0;
}
/************************Oferta************************/

#all-tables {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
}

#all-tables h1 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #d81010;
}

#all-tables td {
    border-bottom: 1px solid #5d5d5d;
    padding-left: 5px;
}

#all-tables td:last-child {
    width: 12%;
}

.ekrany-ramowe,
.ekrany-na-statywie,
.projektory,
.obiektywy-xf,
.obiektywy-xp,
.rzutniki,
.mixery,
.monitory,
.kamery,
.peryferia,
.konwertery-skalery,
.przelaczniki-matrixy,
.dystrybutory,
.separatory,
.przewody {
    width: 100%;
    margin-bottom: 50px;
}

.konwertery-skalery .in,
.przelaczniki-matrixy .in,
.dystrybutory .in {
	width: 20%;
}
.obiektywy-xf td,
.obiektywy-xp td {
	width: 29%;
}

.monitory td:first-child,
.ekrany-ramowe td:first-child,
.ekrany-na-statywie td:first-child,
.projektory td:first-child {
	width: 37%;
}
	

.empty-color {
    height: 2px;
    background-color: #5d5d5d;
}

/************************Wydarzenia************************/

.wydarzenie{
    margin-top: 30px;
    vertical-align: top;
    width: calc((100% / 4) - 3px);
    height: 292px;
    display: inline-block;
    overflow: hidden;
}

.wydarzenie div{
    min-height: 40px;
}

.wydarzenie img{
    min-width: 100%;
    max-height: 250px;
}

/************************Sprzet************************/

.sprzet{
    margin-top: 50px;
    display: inline-block;
}

#last_sprzet{
    margin-bottom: 40px;
}

.sprzet .left_column{
    margin-left: 0;
    margin-right: auto;
    width: 200px;
    display: block;
    float: left;
}

.sprzet .right_column{
    margin-right: 0;
    margin-left: auto;
    width: calc(100% - 200px);
    float: right;
}

.sprzet .left_column .big_photo img{
    width: 198px;
}

.sprzet .left_column .small_photos img{
    width: calc((100% / 3) - 3px);
    height: auto;
}

.sprzet .title{
    font-size: 30px;
    color: #DA0000;
    margin-bottom: 20px;
    border-bottom: 4px solid #FFF;
    width: 600px;
    padding-bottom: 5px;
    font-weight: 500;
}

.sprzet .right_column p{
    margin-left: 20px;
}

.sprzet .right_column table{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.sprzet .right_column table tr td{
    padding-left: 5px;
    padding-right: 5px;
}

/************************Instrukcje************************/

.instrukcja > section > a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
}

.instrukcja > header > h1{
    margin-left: auto;
    margin-right: auto;
}

.instrukcja{
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.instrukcja > section{
    width: 500px;
}